    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Indian<span class="highlight">Grocery</span></h2>
            <p class="intro">One stop for all your Indian Grocery needs</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="#shop">Shop</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="#about">AboutUs</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                </ul>
            </div>
        </div>
    </section><!--//promo-->
